<h2 class="screen-align">Accountdetail</h2>
<div id="template-i40s" class="gjs-row">
    <div id="template-i31d" class="gjs-cell">
        <div id="template-ijif" class="gjs-row">
            <div id="template-ip5k" class="gjs-cell">
                <div id="template-ibum0x" class="">Account Detail</div>
            </div>
            <div id="template-it2j" class="gjs-cell">
                <div id="template-ie6zbd" class="button btn btn-primary ">Edit</div>
                <div id="template-i4h0kj" class="button btn btn-primary ">Delete</div>
            </div>
        </div>
        <div id="template-ipgn" class="gjs-row">
            <div id="template-icgx" class="gjs-cell">
                <div id="template-in8x" class="gjs-row">
                    <div id="template-ilj15" class="gjs-cell">
                        <div id="template-iyu8q" class="">Acccount Owner</div>
                    </div>
                    <div id="template-i340z" class="gjs-cell">
                        <div id="template-i5oth" class="">HarishSundar</div>
                    </div>
                </div>
                <div id="template-ibk1h" class="gjs-row">
                    <div id="template-ip4zt" class="gjs-cell">
                        <div id="template-i6yxc" class="">Acccount Name</div>
                    </div>
                    <div id="template-iof3g" class="gjs-cell">
                        <div id="template-i1gcl" class="">United  Oil & Gas Corp</div>
                    </div>
                </div>
                <div id="template-ipgq2" class="gjs-row">
                    <div id="template-icdjc" class="gjs-cell">
                        <div id="template-i8lqq" class="">Parent Name</div>
                    </div>
                    <div id="template-iteup" class="gjs-cell">
                        <div id="template-iqqre" class="">Name</div>
                    </div>
                </div>
                <div id="template-im8yun" class="gjs-row">
                    <div id="template-i9co0j" class="gjs-cell">
                        <div id="template-idotre" class="">Account Number</div>
                    </div>
                    <div id="template-im175h" class="gjs-cell">
                        <div id="template-itqvz6" class="">CD355118</div>
                    </div>
                </div>
                <div id="template-ir2q9k" class="gjs-row">
                    <div id="template-izxns9" class="gjs-cell">
                        <div id="template-i5i0nj" class="">Account Site</div>
                    </div>
                    <div id="template-ip1nue" class="gjs-cell">
                        <div id="template-idhewu" class="">Website</div>
                    </div>
                </div>
                <div id="template-icpkpv" class="gjs-row">
                    <div id="template-i5llof" class="gjs-cell">
                        <div id="template-ibhjjl" class="">Type</div>
                    </div>
                    <div id="template-ifnt1g" class="gjs-cell">
                        <div id="template-i227d4" class="">Customer - Direct</div>
                    </div>
                </div>
                <div id="template-ife5gf" class="gjs-row">
                    <div id="template-ilyps5" class="gjs-cell">
                        <div id="template-io70ek" class="">Industry</div>
                    </div>
                    <div id="template-iucjbn" class="gjs-cell">
                        <div id="template-iwugfi" class="">Energy</div>
                    </div>
                </div>
                <div id="template-iqrymo" class="gjs-row">
                    <div id="template-il50qy" class="gjs-cell">
                        <div id="template-i5c6s5" class="">Annual Revenue</div>
                    </div>
                    <div id="template-ixzodf" class="gjs-cell">
                        <div id="template-isms9y" class="">$ 5,600,000,000</div>
                    </div>
                </div>
                <div id="template-ig7p6h" class="gjs-row">
                    <div id="template-iqiqd1" class="gjs-cell">
                        <div id="template-iup5xh" class="">Billing Address</div>
                    </div>
                    <div id="template-ih0lmd" class="gjs-cell">
                        <div id="template-i9gtc6" class="">1301 Avenue of the Americas New York, NY 10019 USA</div>
                    </div>
                </div>
                <div id="template-i6j8ff" class="gjs-row">
                    <div id="template-ixxbw" class="gjs-cell">
                        <div id="template-iwag4" class="">Customer Priority</div>
                    </div>
                    <div id="template-i9lj7x" class="gjs-cell">
                        <div id="template-i4lng" class="">High</div>
                    </div>
                </div>
                <div id="template-izqb9" class="gjs-row">
                    <div id="template-icpyw" class="gjs-cell">
                        <div id="template-iirw7" class="">SLA Expiration Date</div>
                    </div>
                    <div id="template-ixfdk" class="gjs-cell">
                        <div id="template-ih3z8" class="">8/6/2023</div>
                    </div>
                </div>
                <div id="template-iwuxi" class="gjs-row">
                    <div id="template-i9ihq" class="gjs-cell">
                        <div id="template-i6i7n" class="">Number of Locations </div>
                    </div>
                    <div id="template-i8kvw" class="gjs-cell">
                        <div id="template-ikchi" class="">955</div>
                    </div>
                </div>
                <div id="template-iiygh" class="gjs-row">
                    <div id="template-id4wd" class="gjs-cell">
                        <div id="template-ib1us" class="">Active</div>
                    </div>
                    <div id="template-i2rgp" class="gjs-cell">
                        <div id="template-ij6pj" class="">Yes</div>
                    </div>
                </div>
                <div id="template-io82w" class="gjs-row">
                    <div id="template-i2vbc" class="gjs-cell">
                        <div id="template-il6b4" class="">Created By</div>
                    </div>
                    <div id="template-ima0z" class="gjs-cell">
                        <div id="template-ipf2y" class="">HarishSundar</div>
                    </div>
                </div>
                <div id="template-ir3a5s" class="gjs-row">
                    <div id="template-ieo7yj" class="gjs-cell">
                        <div id="template-icgxvk" class="">Description</div>
                    </div>
                    <div id="template-ic78p5" class="gjs-cell">
                        <div id="template-ifvssf" class="">World's third largest oil and gas company</div>
                    </div>
                </div>
                <div id="template-i6pew2" class="gjs-row">
                    <div id="template-i3henp" class="gjs-cell">
                        <div id="template-itvsqn" class="">Custom Links</div>
                    </div>
                    <div id="template-ive3km" class="gjs-cell">
                        <div id="template-itemof" class="">Billing</div>
                    </div>
                </div>
            </div>
            <div id="template-iwazh" class="gjs-cell">
                <div id="template-inviy" class="gjs-row">
                    <div id="template-iozyh" class="gjs-cell">
                        <div id="template-in1qdv" class="">Rating</div>
                    </div>
                    <div id="template-ia07c" class="gjs-cell">
                        <div id="template-ilqsux" class="">Hot</div>
                    </div>
                </div>
                <div id="template-iexbjf" class="gjs-row">
                    <div id="template-ior1hc" class="gjs-cell">
                        <div id="template-ix73gp" class="">Phone</div>
                    </div>
                    <div id="template-i42iy4" class="gjs-cell">
                        <div id="template-iegs0g" class="">(212)  842-5500</div>
                    </div>
                </div>
                <div id="template-i2ac0j" class="gjs-row">
                    <div id="template-io5xpi" class="gjs-cell">
                        <div id="template-ij299j" class="">fax</div>
                    </div>
                    <div id="template-iwoznt" class="gjs-cell">
                        <div id="template-i4tsob" class="">(212)  842-5500</div>
                    </div>
                </div>
                <div id="template-ispqll" class="gjs-row">
                    <div id="template-i3w49y" class="gjs-cell">
                        <div id="template-iz3n5j" class="">Website</div>
                    </div>
                    <div id="template-ikhnw7" class="gjs-cell">
                        <div id="template-ixes4i" class="">htttp://www.uos.com</div>
                    </div>
                </div>
                <div id="template-i70cvw" class="gjs-row">
                    <div id="template-i4ng44" class="gjs-cell">
                        <div id="template-ilguv4" class="">Ticket Symbol</div>
                    </div>
                    <div id="template-iz0w2s" class="gjs-cell">
                        <div id="template-i8clli" class="">UOS</div>
                    </div>
                </div>
                <div id="template-irwp2d" class="gjs-row">
                    <div id="template-i9mj6v" class="gjs-cell">
                        <div id="template-iqn1yv" class="">OwnerShip</div>
                    </div>
                    <div id="template-i4q7ej" class="gjs-cell">
                        <div id="template-iben1s" class="">Public</div>
                    </div>
                </div>
                <div id="template-ihpe1u" class="gjs-row">
                    <div id="template-ixdwlw" class="gjs-cell">
                        <div id="template-ijwqyg" class="">Employees</div>
                    </div>
                    <div id="template-imelp2" class="gjs-cell">
                        <div id="template-i1kfuf" class="">145,000</div>
                    </div>
                </div>
                <div id="template-in0fwj" class="gjs-row">
                    <div id="template-icikfq" class="gjs-cell">
                        <div id="template-ioharg" class="">SIC Code</div>
                    </div>
                    <div id="template-i6qe3u" class="gjs-cell">
                        <div id="template-igi20x" class="">4437</div>
                    </div>
                </div>
                <div id="template-i8ycf4" class="gjs-row">
                    <div id="template-iqmmu5" class="gjs-cell">
                        <div id="template-ikjbln" class="">Shipping Address</div>
                    </div>
                    <div id="template-iw32pl" class="gjs-cell">
                        <div id="template-i8d1tj" class="">1301 Avenue of the Americas New York, NY 10019 USA</div>
                    </div>
                </div>
                <div id="template-i8yy4q" class="gjs-row">
                    <div id="template-ib6uui" class="gjs-cell">
                        <div id="template-i51s8o" class="">SLA</div>
                    </div>
                    <div id="template-idtazl" class="gjs-cell">
                        <div id="template-ixevs6" class="">Platinum</div>
                    </div>
                </div>
                <div id="template-imu5oa" class="gjs-row">
                    <div id="template-iz9z24" class="gjs-cell">
                        <div id="template-i786ig" class="">SLA Serial Number</div>
                    </div>
                    <div id="template-iky19l" class="gjs-cell">
                        <div id="template-ih66k6" class="">6654</div>
                    </div>
                </div>
                <div id="template-in10f8" class="gjs-row">
                    <div id="template-iwp9bs" class="gjs-cell">
                        <div id="template-if43iw" class="">Upsell Opportunity</div>
                    </div>
                    <div id="template-ix1x56" class="gjs-cell">
                        <div id="template-i32rir" class="">Yes</div>
                    </div>
                </div>
                <div id="template-ib4mih" class="gjs-row">
                    <div id="template-i9smov" class="gjs-cell">
                        <div id="template-ij7y7s" class="">Last Modified BY</div>
                    </div>
                    <div id="template-ipwqoh" class="gjs-cell">
                        <div id="template-ih4eql" class="">HarishSundar
                            <br id="template-id4ra8" class="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>